@font-face {
  font-family: "Lemon Milk";
  src: url("../assets/lemon_milk/LEMONMILK-Bold.otf");
}
.navbar {
  background: none;
  width: 100%;
  clear: both;
  content: "";
  position: fixed;
  top: 0;
  z-index: 95;
}

.navbar__background {
  background-color: #E31C54;
}

.navbar__containerLogo {
  width: 30%;
  padding: 1em;
}

.navbar__containerLogo_img {
  width: calc(7em + 7vw);
}

.navbar__container__links {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__ul {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.navbar__links {
  background-color: white;
  border-radius: 40px;
  min-width: 100px;
  padding: 0.5em;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar__links:hover {
  box-shadow: 0px 4px 4px black;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-wrapper {
  margin-top: 5%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel_container {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: center;
}

.carousel {
  padding: 1em;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 70%;
}
.cards .cards__container__img {
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cards .cards__container__img img {
  width: 10em;
}
.cards .cards__container__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 700px;
}
.cards .cards__container__content .content__testimonio {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: "Raleway", sans-serif;
  width: 85%;
  text-align: left;
  color: black;
}
.cards .cards__container__content .content__testimonio img {
  position: absolute;
  top: -15%;
  left: -7%;
  width: 30px;
  height: 30px;
}
.cards .cards__container__content .content__name {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: "Raleway", sans-serif;
  width: 85%;
  text-align: left;
  color: black;
  font-weight: bold;
}
.cards .cards__container__content .content__name img {
  margin-left: 0.5em;
  width: 30px;
  height: 30px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-display: swap;
  box-sizing: border-box;
  background-color: #E31C54;
  scroll-behavior: smooth;
}

header {
  position: relative;
  overflow: hidden;
}
header .navbar {
  transition: all 0.4 ease-in-out;
}

.section__inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 4em;
}
.section__inicio .container__inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 8em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 20;
}
.section__inicio .container__inicio .container__img {
  width: 25em;
  margin-top: 5%;
  margin-right: 2em;
  margin-bottom: 3em;
}
.section__inicio .container__inicio .container__img img {
  width: 25em;
}
.section__inicio .container__inicio .container__speach {
  width: 60%;
}
.section__inicio .container__inicio .container__speach .speach__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.section__inicio .container__inicio .container__speach .speach__title .title {
  font-size: 36px;
  line-height: 49px;
  text-shadow: -3px 4px black;
  font-family: "Lemon Milk";
  color: white;
  width: 85%;
  text-align: left;
}
.section__inicio .container__inicio .container__speach .speach__title .comillas {
  position: absolute;
  left: 0%;
  top: -25%;
}
.section__inicio .container__inicio .container__speach .speach__title .star {
  position: absolute;
  top: -70%;
  right: 50%;
}
.section__inicio .container__inicio .container__speach .speach__paragraph {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
}
.section__inicio .container__inicio .container__speach .speach__paragraph p {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  line-height: 32.87px;
  color: white;
  width: 90%;
  text-align: left;
  margin-top: 1em;
}
.section__inicio .container__inicio .container__speach .speach__paragraph span {
  font-weight: bold;
}
.section__inicio .container__inicio .container__speach .speach__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1em;
  margin-left: 1em;
}
.section__inicio .container__inicio .container__speach .speach__btn .btn_border {
  min-width: 250px;
  border: 4px solid #5F01D0;
  border-radius: 40px;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__inicio .container__inicio .container__speach .speach__btn .btn_saberMas {
  padding: 5px;
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 40px;
  min-width: 240px;
  text-align: center;
  font-weight: bold;
}

.background__inicio {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/img/puntos_inicio.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -12%;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
}

.section__quienSoy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: url("../assets/img/background orange.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-start;
}
.section__quienSoy .container__quienSoy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section__quienSoy .container__quienSoy .container__img {
  width: 40%;
  height: 100%;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__quienSoy .container__quienSoy .container__img img {
  height: 30rem;
}
.section__quienSoy .container__quienSoy .container__speach {
  width: 55%;
  margin-left: 2em;
  margin-top: 10em;
  margin-bottom: 10em;
}
.section__quienSoy .container__quienSoy .container__speach .speach__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative;
}
.section__quienSoy .container__quienSoy .container__speach .speach__title .title {
  font-size: 36px;
  line-height: 49px;
  text-shadow: -3px 4px black;
  font-family: "Lemon Milk";
  color: white;
  text-align: left;
  width: 85%;
}
.section__quienSoy .container__quienSoy .container__speach .speach__title .comillas {
  position: absolute;
  left: 0%;
  top: -25%;
}
.section__quienSoy .container__quienSoy .container__speach .speach__title .star {
  position: absolute;
  top: -70%;
}
.section__quienSoy .container__quienSoy .container__speach .speach__paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #000000;
  flex-direction: column;
}
.section__quienSoy .container__quienSoy .container__speach .speach__paragraph p {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  line-height: 32.87px;
  color: white;
  width: 90%;
  text-align: left;
  margin-top: 1em;
  color: #000000;
}
.section__quienSoy .container__quienSoy .container__speach .speach__paragraph span {
  font-weight: bold;
}
.section__quienSoy .container__quienSoy .container__speach .speach__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1em;
  margin-left: 1em;
}
.section__quienSoy .container__quienSoy .container__speach .speach__btn .btn_border {
  min-width: 250px;
  border: 4px solid #00AE9E;
  border-radius: 40px;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__quienSoy .container__quienSoy .container__speach .speach__btn .btn_saberMas {
  padding: 5px;
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 40px;
  min-width: 240px;
  text-align: center;
  font-weight: bold;
}

.section__experiencias {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: url("../assets/img/puntos naranjas.png");
  background-repeat: no-repeat;
  background-size: 9em;
  justify-content: center;
  background-position: right bottom;
}
.section__experiencias .container__experiencias {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.section__experiencias .container__experiencias .background__experiencias {
  background-image: url("../assets/img/lineas naranjas.png");
  overflow: hidden;
  background-position: left bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: -20;
  left: -7%;
}
.section__experiencias .container__experiencias .container__img {
  width: 100%;
  height: 100%;
  max-width: 50rem;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 400px;
  box-shadow: 10px 10px 1px #5F01D0;
}
.section__experiencias .container__experiencias .container__img iframe {
  height: 100%;
  width: 100%;
  min-height: 400px;
  border-bottom: 10px solid #5F01D0;
}
.section__experiencias .container__experiencias .container__img img {
  height: 100%;
  width: 100%;
}
.section__experiencias .container__experiencias .container__speach {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section__experiencias .container__experiencias .container__speach p {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  line-height: 32.87px;
  color: white;
  width: 90%;
  text-align: left;
  margin-top: 1em;
  text-align: center;
}
.section__experiencias .container__experiencias .container__speach .speach__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  position: relative;
  margin-bottom: 2em;
}
.section__experiencias .container__experiencias .container__speach .speach__title .title {
  font-size: 36px;
  line-height: 49px;
  text-shadow: -3px 4px black;
  font-family: "Lemon Milk";
  color: white;
  text-align: left;
}
.section__experiencias .container__experiencias .container__speach .speach__title .comillas {
  position: absolute;
  right: 5%;
  top: -50%;
}

.section__testimonios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/backgroundblue con puntos.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 600px;
}

.section__curso {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: url("../assets/img/Rectangle 33.png");
  background-repeat: no-repeat;
  background-size: 43rem;
  background-position: right;
}
.section__curso .container__curso {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5em;
  margin-bottom: 5em;
}
.section__curso .container__curso .container__speach {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
.section__curso .container__curso .container__speach .speach__title {
  width: 90%;
  font-size: 36px;
  line-height: 49px;
  text-shadow: -3px 4px black;
  font-family: "Lemon Milk";
  color: white;
}
.section__curso .container__curso .container__speach .speach__paragraph {
  width: 90%;
}
.section__curso .container__curso .container__speach .speach__paragraph p {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  line-height: 32.87px;
  color: white;
  width: 90%;
  text-align: left;
  margin-top: 1em;
}
.section__curso .container__curso .container__speach .speach__paragraph span {
  font-weight: bold;
}
.section__curso .container__curso .container__speach .speach__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1em;
  margin-left: 1em;
}
.section__curso .container__curso .container__speach .speach__btn .btn_border {
  min-width: 250px;
  border: 4px solid #5F01D0;
  border-radius: 40px;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__curso .container__curso .container__speach .speach__btn .btn_saberMas {
  padding: 5px;
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 40px;
  min-width: 240px;
  text-align: center;
  font-weight: bold;
}
.section__curso .container__curso .container__speach .speach__btn .btn_saberMas img {
  width: 20px;
  height: 20px;
  margin-right: 0.2em;
}
.section__curso .container__curso .container__cards {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.section__curso .container__curso .container__cards .cards {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 2em;
  box-shadow: 8px 8px 1px #5F01D0;
  min-height: 20.5rem;
}
.section__curso .container__curso .container__cards .cards h3 {
  margin-bottom: 0.5em;
}
.section__curso .container__curso .container__cards .cards p {
  margin-bottom: 0;
  text-align: justify;
}
.section__curso .container__curso .container__cards .cards span {
  font-weight: bold;
}

footer {
  width: 100%;
  background-image: url("../assets/img/background__violeta.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container__logoContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  margin-left: 2em;
  margin-top: 2em;
}
footer .container__logoContacto img {
  width: 20em;
}
footer .container__redes {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10em;
  margin-bottom: 5em;
}
footer .container__redes .redes__title {
  font-size: 36px;
  line-height: 49px;
  text-shadow: -3px 4px black;
  font-family: "Lemon Milk";
  color: white;
  width: 100%;
}
footer .container__redes .redes__links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
footer .container__redes .redes__links a {
  text-decoration: none;
  width: 45%;
  color: white;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}
footer .container__redes .redes__links a img {
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}

@media screen and (max-width: 1300px) {
  .section__quienSoy .container__quienSoy .container__img {
    margin-bottom: 5em;
    margin-top: 5em;
  }
  .section__quienSoy .container__quienSoy .container__speach {
    margin-top: 5em;
  }
}
@media screen and (max-width: 1100px) {
  .navbar__ul {
    width: 90%;
  }

  .section__inicio .container__inicio {
    margin-left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .section__inicio .container__inicio .container__speach {
    margin-left: 0;
    background-color: #E31C54;
  }

  .section__experiencias .container__experiencias .container__speach .comillas {
    right: 10%;
  }

  .section__curso .container__curso .container__cards {
    width: 90%;
  }
  .section__curso .container__curso .container__cards .cards {
    min-height: 22.5rem;
  }
}
@media screen and (max-width: 991px) {
  .navbar__ul {
    align-items: flex-end;
    width: 100%;
  }

  .nav-item {
    min-width: 100px;
  }

  .navbar__links {
    margin-bottom: 0.5em;
  }

  .section__inicio .container__inicio {
    flex-direction: column;
    width: 90%;
  }
  .section__inicio .container__inicio .container__img {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section__inicio .container__inicio .container__speach {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin-bottom: 0;
  }
  .section__inicio .container__inicio .container__speach .speach__title {
    width: 80%;
  }
  .section__inicio .container__inicio .container__speach .speach__title .comillas {
    left: -10%;
  }
  .section__inicio .container__inicio .container__speach .speach__title .title {
    width: 100%;
  }
  .section__inicio .container__inicio .container__speach .speach__title .star {
    top: 0%;
    right: -10%;
  }

  .section__quienSoy .container__quienSoy {
    justify-content: center;
  }
  .section__quienSoy .container__quienSoy .container__img {
    margin-bottom: 15em;
    margin-top: 0em;
  }
  .section__quienSoy .container__quienSoy .container__img img {
    margin-top: 4em;
    margin-bottom: 0em;
  }
  .section__quienSoy .container__quienSoy .container__speach {
    margin-bottom: 0;
    width: 60%;
  }
  .section__quienSoy .container__quienSoy .container__speach .title {
    text-align: center;
  }

  .section__curso .container__curso {
    flex-direction: column;
  }
  .section__curso .container__curso .container__speach {
    width: 90%;
  }
  .section__curso .container__curso .container__speach .speach__title h2 {
    text-align: center;
  }
  .section__curso .container__curso .container__speach .speach__btn {
    margin-bottom: 2em;
  }
  .section__curso .container__curso .container__cards .cards {
    min-width: 18em;
  }
}
@media screen and (max-width: 886px) {
  .section__inicio .container__inicio .container__speach {
    width: 70%;
  }
  .section__inicio .container__inicio .container__speach .speach__title {
    width: 80%;
  }

  .section__quienSoy .container__quienSoy {
    flex-direction: column;
    justify-content: center;
  }
  .section__quienSoy .container__quienSoy .container__img img {
    height: 30rem;
  }
  .section__quienSoy .container__quienSoy .container__speach {
    width: 70%;
  }

  .section__experiencias .container__experiencias .container__img {
    max-width: 40em;
  }
  .section__experiencias .container__experiencias .container__speach .comillas {
    right: 0%;
  }

  footer {
    flex-direction: column;
  }
  footer .container__logoContacto {
    margin-left: 0;
    justify-content: center;
    width: 95%;
  }
  footer .container__redes {
    margin-top: 0%;
    width: 95%;
  }
  footer .container__redes .redes__title {
    text-align: center;
  }
  footer .container__redes .redes__links {
    justify-content: center;
  }
  footer .container__redes .redes__links a {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
@media screen and (max-width: 780px) {
  .section__inicio .container__inicio .container__img img {
    width: 18em;
  }
  .section__inicio .container__inicio .container__speach .speach__title .title {
    text-align: center;
    width: auto;
  }

  .background__inicio {
    background-size: cover;
  }

  .section__quienSoy {
    margin-bottom: 0em;
  }
  .section__quienSoy .container__quienSoy .container__speach {
    width: 90%;
  }
  .section__quienSoy .container__quienSoy .container__speach .title {
    width: 90%;
  }
  .section__quienSoy .container__quienSoy .container__speach .comillas {
    left: -5%;
  }

  .section__experiencias {
    margin-bottom: 5em;
  }
  .section__experiencias .background__experiencias {
    display: none;
  }
  .section__experiencias .container__experiencias .container__img {
    max-width: 30em;
  }
  .section__experiencias .container__experiencias .container__speach {
    width: 90%;
  }
  .section__experiencias .container__experiencias .container__speach .speach__title {
    width: 100%;
  }
  .section__experiencias .container__experiencias .container__speach .speach__title .title {
    margin-right: 0.2em;
  }
  .section__experiencias .container__experiencias .container__speach .speach__title .comillas {
    right: 0%;
  }

  footer .container__redes .redes__links {
    flex-direction: column;
  }
}
@media screen and (max-width: 580px) {
  .section__quienSoy .container__quienSoy .container__img img {
    height: 20rem;
  }

  .section__experiencias .container__experiencias .container__speach .speach__title .comillas {
    top: -20%;
    right: 15%;
  }
}
@media screen and (max-width: 520px) {
  .section__inicio .container__inicio .container__speach {
    width: 100%;
  }
  .section__inicio .container__inicio .container__speach .speach__title .star {
    right: -20%;
  }
  .section__inicio .container__inicio .container__speach .speach__title .comillas {
    left: -20%;
  }

  .section__quienSoy .container__quienSoy .container__speach {
    width: 95%;
  }
  .section__quienSoy .container__quienSoy .container__speach .speach__title {
    margin-top: 2em;
    width: 100%;
  }
  .section__quienSoy .container__quienSoy .container__speach .speach__title .title {
    width: 100%;
    text-align: center;
  }
  .section__quienSoy .container__quienSoy .container__speach .speach__title .comillas {
    left: -5%;
  }

  .section__experiencias .container__experiencias .container__img {
    max-width: none;
    width: 90%;
  }
  .section__experiencias .container__experiencias .container__img iframe {
    min-height: 300px;
  }

  .section__testimonios {
    background-image: url("../assets/img/background blue.png");
    background-size: cover;
  }

  .swiper {
    margin-top: 5em;
  }

  .cards {
    flex-direction: column;
  }
  .cards .cards__container__img {
    margin-left: 0;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .cards .cards__container__content {
    margin-bottom: 2em;
  }

  .swiper-wrapper {
    margin-bottom: 5em;
  }

  .section__curso .container__curso .container__cards .cards {
    min-width: 16em;
    margin-bottom: 2em;
  }

  footer .container__logoContacto {
    margin-left: 0;
    justify-content: center;
    width: 95%;
  }
  footer .container__redes {
    margin-top: 1em;
    width: 95%;
  }
  footer .container__redes .redes__links {
    flex-direction: column;
  }
  footer .container__redes .redes__links a {
    justify-content: flex-start;
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .section__experiencias .container__experiencias .container__speach .speach__title .comillas {
    right: 0%;
  }
}
@media screen and (max-width: 480px) {
  .section__quienSoy .container__quienSoy .container__speach {
    width: 90%;
  }
  .section__quienSoy .container__quienSoy .container__speach .speach__title .star {
    top: -35%;
  }
  .section__quienSoy .container__quienSoy .container__speach .speach__title .comillas {
    left: -5%;
    top: -15%;
  }
}
@media screen and (max-width: 420px) {
  .section__experiencias .container__experiencias .container__speach .speach__title .comillas {
    right: -5%;
  }
}
@media screen and (max-width: 330px) {
  .section__inicio .container__inicio .container__speach .star {
    right: -20%;
  }
  .section__inicio .container__inicio .container__speach .comillas {
    left: -20%;
  }
}

/*# sourceMappingURL=main.css.map */
