@media screen and (max-width:1300px){
    //section quien soy
    .section__quienSoy{
        .container__quienSoy{
            .container__img{
                margin-bottom: 5em;
                margin-top: 5em;
            }
            .container__speach{
                margin-top: 5em;
            }
        }
    }    
}
@media screen and (max-width: 1100px) {
    //navbar
    .navbar__ul{
        width: 90%;
    }
    //section inicio
    .section__inicio{
        .container__inicio{
            margin-left: 0;
            width: 100%;
            align-items: center;
            justify-content: center;
            .container__speach{
                margin-left: 0;
                background-color: $color__salmon;
            };
        }
    }
    //section experiencias
    .section__experiencias{
        .container__experiencias{
            .container__speach{
                .comillas{
                    right: 10%;
                }
            }
        }
    }
    //section curso
    .section__curso{
        .container__curso{
            .container__cards{
                width: 90%;
                .cards{
                    min-height: 22.5rem;
                }
            }
        }
    }
}
@media screen and (max-width: 991px){
    //navbar
    .navbar__ul{
        align-items: flex-end;
        width: 100%;
    }
    .nav-item{
        min-width: 100px;
    }
    .navbar__links{
        margin-bottom: .5em;
    }
    //section inicio
    .section__inicio{
        .container__inicio{
            flex-direction: column;
            width: 90%;
            .container__img{
                width: 90%;
                @include flex_column_center;
            }
            .container__speach{
                margin-top: 2em;
                @include flex_column_center;
                width: 60%;
                margin-bottom: 0;
                .speach__title{
                    width: 80%;
                    .comillas{
                        left: -10%;
                    }
                    .title{
                        width: 100%;
                    }
                    .star{
                        top: 0%;
                        right: -10%;
                    }
                }
            };
        }
    }
    //section quien soy
    .section__quienSoy{
        .container__quienSoy{
            justify-content: center;
            .container__img{
                margin-bottom: 15em;
                margin-top: 0em;
                img{
                    margin-top: 4em;
                    margin-bottom: 0em;
                }
            }
            .container__speach{
                margin-bottom: 0;
                width: 60%;
                .title{
                    text-align: center;
                }
            }
        }
    }
    //section curso
    .section__curso{
        .container__curso{
            flex-direction: column;
            .container__speach{
                width: 90%;
                .speach__title{
                    h2{
                        text-align: center;
                    }
                }
                .speach__btn{
                    margin-bottom: 2em;
                }
            }
            .container__cards{
                .cards{
                    min-width: 18em;
                }
            }
        }
    } 
}

@media screen and (max-width: 886px){
    //section inicio
    .section__inicio{
        .container__inicio{
            .container__speach{
                width: 70%;
                .speach__title{
                    width: 80%;
                }
            };
        }
    }
    //section quien soy
    .section__quienSoy{
        .container__quienSoy{
            flex-direction: column;
            justify-content: center;
            .container__img{
                img{
                    height: 30rem;
                }
            }
            .container__speach{
                width: 70%;
            }
        }
    }
    //section experiencias
    .section__experiencias{
        .container__experiencias{
            .container__img{
                max-width: 40em;
            }
            .container__speach{
                .comillas{
                    right: 0%;
                }
            }
        }
    }    
    //footer
    footer{
        flex-direction: column;
        .container__logoContacto{
            margin-left: 0;
            justify-content: center;
            width: 95%;
        }
        .container__redes{
            margin-top: 0%;
            width: 95%;
            .redes__title{
                text-align: center;
            }
            .redes__links{
                justify-content: center;
                a{
                    display: flex;
                    justify-content: center;
                    align-content: center;
                }
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .section__inicio{
        .container__inicio{
            .container__img{
                img{
                    width: 18em;
                }
            }
            .container__speach{
                .speach__title{
                    .title{
                        text-align: center;
                        width: auto;
                    }
                }
            }
        }
    }
    .background__inicio{
        background-size: cover;
    }
    //section quien soy
    .section__quienSoy{
        margin-bottom: 0em;
        .container__quienSoy{
            .container__speach{
                width: 90%;
                .title{
                    width: 90%;
                }
                .comillas{
                    left: -5%;
                }
            }
        }
    } 
    //section experiencias
    .section__experiencias{
        margin-bottom: 5em;
        .background__experiencias{
            display: none;
        }
        .container__experiencias{
            .container__img{
                max-width: 30em;
            }
            .container__speach{
                width: 90%;
                .speach__title{
                    width: 100%;
                    .title{
                        margin-right: .2em;
                    }
                    .comillas{
                        right: 0%;
                    }
                }
            }
        }
    }    
    footer{
        .container__redes{
            .redes__links {
                flex-direction: column;
            }
        }
    }        
}
@media screen and (max-width: 580px){
    //section quienSoy
    .section__quienSoy{
        .container__quienSoy{
            .container__img{
                img{
                    height: 20rem;
                }
            }
        }
    } 
    //section experiencias
    .section__experiencias{
        .container__experiencias{
            .container__speach{
                .speach__title{
                    .comillas{
                        top: -20%;
                        right: 15%;
                    }
                }
            }
        }
    }   
}
@media screen and (max-width: 520px) {
    .section__inicio{
        .container__inicio{
            .container__speach{
                width: 100%;
                .speach__title{
                    .star{
                        right: -20%;
                    }
                    .comillas{
                        left: -20%;
                    }
                }

            }
        }
    }
    //section quien soy
    .section__quienSoy{
        .container__quienSoy{
            .container__speach{
                width: 95%;
                .speach__title{
                    margin-top: 2em;
                    width: 100%;
                    .title{
                        width: 100%;
                        text-align: center;
                    }
                    .comillas{
                        left: -5%;
                    }
                }

            }
        }
    }
    //section experiencias
    .section__experiencias{
        .container__experiencias{
            .container__img{
                max-width: none;
                width: 90%;
                min-height: 300px;                
                iframe{
                    min-height: 300px;
                }
            }
        }
    }        
    //section testimonios
    .section__testimonios{
        background-image: url("../assets/img/background\ blue.png");
        background-size: cover;
    }
    .swiper {
        margin-top: 5em;
    }
    .cards{
        flex-direction: column;
        .cards__container__img{
            margin-left: 0;
            margin-top: 2em;
            margin-bottom: 2em;
        }
        .cards__container__content{
            margin-bottom: 2em;
        }
    } 
    .swiper-wrapper{
        margin-bottom: 5em;
    }
    //section curso
    .section__curso{
        .container__curso{
            .container__cards{
                .cards{
                    min-width: 16em;
                    margin-bottom: 2em;
                }
            }
        }
    }       
    //footer
    footer{
        .container__logoContacto{
            margin-left: 0;
            justify-content: center;
            width: 95%;
        }
        .container__redes{
            margin-top: 1em;
            width: 95%;
            .redes__links{
                flex-direction: column;
                a{
                    justify-content: flex-start;
                    width: 80%;
                }
            }
        }
    }
}
@media screen and (max-width: 500px){
    //section experiencias
    .section__experiencias{
        .container__experiencias{
            .container__speach{
                .speach__title{
                    .comillas{
                        right: 0%;
                    }
                }
            }
        }
    }   
}
@media screen and (max-width: 480px){
    //section quien soy
    .section__quienSoy{
        .container__quienSoy{
            .container__speach{
                width: 90%;
                .speach__title{
                    .star{
                        top: -35%;
                    }
                    .comillas{
                        left: -5%;
                        top: -15%;                    }
                }
            }
            .container__img{
                img{
                    margin-top: 2em;
                    height: 16rem;
                }
            }
        }
    }      
}
@media screen and (max-width: 420px){
    //section experiencias
    .section__experiencias{
        .container__experiencias{
            .container__speach{
                .speach__title{
                    .comillas{
                        right: -5%;
                    }
                }
            }
        }
    }   
}
@media screen and (max-width: 330px) {
    .section__inicio{
        .container__inicio{
            .container__speach{
                .star{
                    right: -20%;
                }
                .comillas{
                    left: -20%;
                }
            }
        }
    }
}
